.header-container-outer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    height: 10vh;
    color: white;
    transition: none 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
}
.header-container{
        width: 90%;
        justify-content: space-between;
        align-items: center;
        display: flex;
}
.header-container ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.header-container li{
    margin: 0 15px;
    

}
.header-container li ul{
    cursor: pointer;
    width: auto;
}

