/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Define CSS Variables */
:root {
  --font-base: 'Roboto', sans-serif;
  --font-code: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  --header-bg-color: rgb(20, 20, 20);
  /* --text-color: #999; */
}

body {
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-code);
}

*{
  margin: 0%;
  padding: 0%;
}
body{
  background: #111;
}